.login-form {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    width: 100%;
    padding: 4rem;

    font-family: var(--fonte-texto);
}

form .input {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
}

form .input div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form .input div label {
    font-size: 0.9rem;
}

form .input div input {
    width: 100%;
    padding: .7rem;
    border-radius: 12.5rem;
    background-color: var(--cor-secundaria);
    border: none;
    outline: none;
}

form div input::placeholder {
    color: var(--neutro);
    font-weight: bold;
    
}

form div input:focus::placeholder {
    color: var(--cor-secundaria)
}

input[type="text"]{
    color:var(--neutro);
}


p {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
}

.button-login-register {
    cursor: pointer;
    
    background-image: linear-gradient(90deg, var(--cor-secundaria), var(--cor-terciaria) );
    border: none;
    border-radius: 3.125rem;
    
    padding: .5rem 3.5rem;

    font-weight: bold;
    color: var(--neutro)
}