li {
    width: 500px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

    padding: 1rem ;
    border: 2px solid var(--cor-primaria);
    border-radius: 1rem;

}

li .texto-data {
    font-size: .7rem;
    line-height: 20px;
}

.list-item-container, .table-item {
    width: 100%;
}

.table-item tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}