/* FUNÇÃO: Largura Fixa. 
SERVE PARA: Dar um tamanho consistente ao card da tarefa. */
li {
    width: 31.25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

    padding: 1rem ;
    border: 0.125rem solid var(--cor-primaria);
    border-radius: 1rem;

} 
/* FUNÇÃO: Estiliza os textos de título/descrição/prazo. */
li .texto{
    color: var(--cor-quartenaria);
    font-weight: 600;
    font-family: var(--fonte-texto);
}
li .description {
    color: var(--cor-secundaria);
    font-weight: normal;
    font-size: .8rem;
    font-family: var(--fonte-texto);
    word-break: break-all;
}
/* FUNÇÃO: Estiliza o texto de data de adição. */
li .texto-data {
    font-size: .7rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
}
/* FUNÇÃO: Não está claro para qual elemento é aplicado, mas define cor terciária. */
.decoracao_ListItem{
    color:var(--cor-terciaria);
}
/* FUNÇÃO: Garante que o contêiner da lista e a tabela ocupem a largura total do <li> pai. */
.list-item-container, .table-item {
    width: 100%;
}

/* FUNÇÃO: Estrutura a box do item. L48 até L67*/
.table-item tbody tr {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.table-item tbody tr  div  {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.table-item tbody tr div div {
    display: flex;
    align-items: center;
}

.table-item tbody tr th {
    text-align: left;
}

/* Estiliza o botão */
.list-item-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* FUNÇÃO: Estiliza o ícone de lixeira (o <i>) que está dentro do botão */
.fa-solid {
    color: var(--cor-primaria);
    position: relative;
    cursor: pointer;

}
/* FUNÇÃO: Estiliza o botão que envolve o ícone. */
.lixeira{
    border: 2px solid var(--cor-primaria);
    padding: 0;
    margin: 0;
    border-radius: 50px;
}

/* FUNÇÃO: Adicina espaçamento entre o botão e o icone. */
.lixeira i {
    padding: .3rem 2rem;
}

/* FUNÇÃO: Adiciona um efeito de transição ao passar o mouse sobre a lixeira. */
.lixeira:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    transform: translateY(-1px);
}