button {
    cursor: pointer;
    
    background-image: linear-gradient(90deg, var(--cor-secundaria), var(--cor-terciaria) );
    border: none;
    border-radius: 50px;
    
    padding: .5rem 3.5rem;

    font-weight: bold;
    color: var(--neutro)
}