@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #E2A16F;
    --cor-secundaria: #86B0BD;
    --cor-terciaria: #D1D3D4;
    --cor-quartenaria: #6793a0;
    --neutro: #F9F9F9;
    --highlight-color: #FFF0DD;
    --neutro2: #fffbf8;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto:  "DM Sans", sans-serif;;
    --degrade-azul: linear-gradient(180deg, #f59bc6 0%, #c0b0da 100%);
    --background: linear-gradient(90deg, var(--cor-terciaria), rgba(226, 161, 111, 0.5));
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: var(--background);
    background-attachment: fixed;
    overflow-x: hidden;
}

p {
    font-family: var(--fonte-texto);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-primaria);
}