/* Modifica o fundo */
.list-page-wrapper {
    width: 100vw;
    height: 100vh;

    background-image: url(../../../src/Assets/background_listpage.png);
    background-size: cover;

    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

/* Modifica o quadrado que contem as informações */
.list-page-container {
    background-color: var(--neutro2);
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 2.875rem 9.375rem;

    align-items: center;
    border-radius: 1rem;
}

.gatinho {
    width: 12.5rem;
    height: 7.5rem;
}

.gatinho:hover {
    animation: vibracao-soft 0.3s linear infinite;
}

.list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

input[type="text"],
input[type="date"] {
    color: var(--cor-quartenaria);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

form .input-container div input {
    display: block;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    border: 0.063rem solid var(--cor-primaria);
    ;
    width: 19.188rem;

    font-family: var(--fonte-texto);
    margin: 0.438rem;
    border-color: var(--cor-primaria);

}

form .input-container div input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.188rem;
    color: var(--cor-terciaria);
    font-weight: 100;
}

form .input-container div input:focus {
    outline: none;
}

form .input-container div input:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-3px);
}

label {
    font-family: var(--fonte-texto);
    color: var(--cor-quartenaria);
    font-weight: 400;
}

.button-item {
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    border: none;

    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 1rem;
    font-weight: normal;

    transition: all 0.1s ease;
}

.button-item:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria);
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: 10rem;
    background-color: transparent;
}

.titulo-lista {
    font-family: var(--fonte-texto);
    color: var(--cor-primaria);
    font-size: 1.25rem;
    font-weight: bolder;
    line-height: 2rem;
}

.titulo-lista-linha {
    border: none;
    border-bottom: 0.25rem dotted var(--cor-primaria);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}


.checkbox {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--neutro);
    border: 1px solid var(--cor-secundaria);
    cursor: pointer;
}
.nenhum_item {
    font-family: var(--fonte-texto);
    color: var(--cor-secundaria);
    background-color: transparent;
}

@keyframes vibracao-soft {
    0% {
        transform: translate(0.5px, 0.5px);
    }

    25% {
        transform: translate(-0.5px, -0.5px);
    }

    50% {
        transform: translate(1px, -0.5px);
    }

    75% {
        transform: translate(-1px, 0.5px);
    }

    100% {
        transform: translate(0.5px, 0.5px);
    }
}