.auth-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 9.375rem;
    
    padding-left: 6.25rem;
    
    background-color: var(--cor-primaria);
    border-radius: 3.125rem;
    box-shadow: 0rem 0.438rem 0.375rem rgba(0, 0, 0, 0.25);

}

.auth-icon-user {
    font-size: 8.125rem;
    height: auto;
    color: var(--cor-secundaria);
}

.auth-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 31.25rem;
    height: 43.75rem;

    background-color: var(--neutro);

    border-radius: 3.125rem;
}